---
import { SEO } from "astro-seo";
import LeviBackground from "../assets/img/bg.png";
import LeviIcon from "../assets/img/levi-icon.png";

interface Props {
  title: string;
  description?: string;
}

const { title, description = "Links to places." } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      title={title}
      description={description}
      noindex={true}
      openGraph={{
        basic: {
          title: title,
          type: "website",
          image: LeviIcon.src,
          url: "https://link.levi.land",
        },
        optional: {
          description: description,
        },
      }}
      twitter={{
        card: "summary_large_image",
        title: title,
        description: description,
      }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.ico" }],
      }}
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body
    class="min-h-screen bg-cover bg-center bg-fixed"
    style={{
      backgroundImage: `linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.1)
    ), url(${LeviBackground.src})`,
    }}
  >
    <div class="min-h-screen backdrop-blur-sm">
      <slot />
    </div>
  </body>
</html>
